:root {
  --main-bg: #ffffff;
  --second-bg: #f7f7f7;
  --cover-bg: #191c26;
  --hover: #ff6c00;
  --title-light: #303030;
  --title-dark: #ffffff;
  --sub-title: #555555;
  --up-title: #9da4bd;
  --text-dark: #9da4bd;
  --second-color-text: #ff6c00;
  --secondary-family-text: "Raleway";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
  font-family: "Open Sans", sans-serif;
  /*system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica",
    "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",*/
  line-height: normal;
  word-wrap: break-word;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  min-width: 160px;
  height: 40px;

  background-color: transparent;
  border-radius: 25px;
  border: 1px solid var(--hover);
  color: var(--title-dark);
  cursor: pointer;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  font-style: normal;
}
.btn:hover,
.btn:focus {
  background-color: var(--hover);
  border-color: transparent;
}
.title {
  color: var(--title-light);
  font-size: 42px;
  font-family: var(--secondary-family-text);
  font-weight: 700;
  letter-spacing: 2.1px;
}
.suptitle {
  margin-bottom: 20px;

  color: var(--title-light);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.soc-item {
  color: var(--title-light);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}
.soc-item:hover,
.soc-item:focus {
  color: var(--hover);
}
/* HEADER */
.header {
  /* display: flex; */
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--cover-bg);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 131px;
}
.nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-item {
}
.nav-link {
  color: var(--title-dark);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover);
}
.header-contact {
  margin-right: 43px;

  color: var(--main-bg);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
/* HERO */
.hero {
}
.hero-container {
  display: flex;
}
.hero-list {
  width: 100px;
  background-color: var(--main-bg);
}
.hero-item:not(:last-child) {
  margin-right: 40px;
}
.hero-wrap {
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
  background-image: url(../images/heroslider1-1x.jpg);
  background-size: cover;
}
.hero .suptitle {
  margin-bottom: 20px;

  color: var(--up-title);
}
.hero-title {
  margin-bottom: 20px;

  color: var(--title-dark);
  font-size: 72px;
  font-family: var(--secondary-family-text);
  font-weight: 700;
  letter-spacing: 3.6px;
}
.hero-text {
  max-width: 360px;

  color: var(--text-dark);
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.36px;
}
.slider-switch {
  color: var(--text-dark);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.1px;
}

/* ABOUT */
.about {
  display: flex;

  padding-top: 120px;
  padding-bottom: 120px;
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-wrap {
  max-width: 470px;
}
.about-title {
  margin-bottom: 20px;
}
.about-subtitle {
  margin-bottom: 20px;

  color: var(--sub-title);
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.36px;
}
.about-text {
  margin-bottom: 42px;

  color: var(--sub-title);
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.28px;
}
.text-btn {
  color: var(--title-light);
}
/* SERVICE AND PRICE */
.service {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../images/heroslider2-1x.jpg);
  background-size: cover;
}
.service-suptitle {
  margin-bottom: 20px;

  color: var(--text-dark);
}
.service-title {
  margin-bottom: 44px;
  color: var(--title-dark);
}
.service-wrap {
  display: flex;
  justify-content: space-between;
}
.service-list {
  width: calc((100% - 30px) / 2);

  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.service-item {
  display: flex;
  justify-content: space-between;
}
.service-item:not(:last-child) {
  margin-bottom: 20px;
}
.service-text,
.service-price {
  color: var(--text-dark);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.36px;
}
.service-price {
}
.service-btn {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}
/* ADVANTAGES */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-list {
}
.advantages-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background-color: var(--second-bg);
}
.advantages-number {
  color: var(--title-light);
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2.1px;
}
.advantages-plus {
  color: var(--second-color-text);
  font-size: 16px;
  font-weight: 600;
}
.advantages-text {
  color: var(--title-light);
  font-size: 11px;
  font-weight: 600;
}
.advantages-info {
}
.advantages-suptitle {
  margin-bottom: 20px;
}
.advantages-title {
  margin-bottom: 20px;

  color: var(--title-light);
  font-size: 42px;
  font-family: var(--secondary-family-text);
  font-weight: 700;
  letter-spacing: 2.1px;
}
.advantages-describe {
  color: var(--sub-title);
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.36px;
}
/* TEAM */
.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--second-bg);
}
.team-suptitle {
  margin-bottom: 20px;
}
.team-title {
  margin-bottom: 44px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  width: calc((100% - 60px) / 3);
}
.team-name {
  color: var(--title-light);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.36px;
}
.team-level {
  color: var(--second-color-text);
  font-size: 14px;
  letter-spacing: 0.28px;
}
.team-subscribe-list {
}
.team-subscribe-item {
}
.team-subscribe-link {
}

/* PORTFOLIO */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-suptitle {
  margin-bottom: 44px;
}
.portfolio-list {
  display: flex;
  gap: 30px;
}
.portfolio-item {
  width: calc((100% - 90px) / 4);
}
/* BOOKING + CONTACTS */
.information {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ONLINE-BOOKING */
.booking {
  background-color: var(--cover-bg);
}
.booking-title {
  color: var(--title-dark);
}

/* CONTACTS */
.contacts {
  background-color: var(--cover-bg);
  background-image: url(../images/contact1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.contacts-title {
  margin-bottom: 40px;
  color: var(--title-dark);
}
.contacts-list {
  font-style: normal;
  color: var(--text-dark);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-item:last-child {
  margin-bottom: 70px;
}
.contacts-address {
  font-weight: 700;
}
.contacts-tel {
}
.contacts-email {
  text-decoration-line: underline;
}
.contacts-schedule {
  margin-bottom: 20px;

  color: var(--title-dark);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.contacts-schedule-time {
  color: var(--text-dark);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.36px;
}

/* FOOTER */
.footer {
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer-list {
}
.footer-item {
}
.footer-link {
}
