.service {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cover-bg-service);
  background-image: url(../images/service-prices-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service-suptitle {
  margin-bottom: 20px;

  color: var(--text-dark);
}
.service-title {
  margin-bottom: 44px;
  color: var(--title-dark);
}
.service-wrap {
  display: flex;
  justify-content: space-between;
}
.service-list {
  width: calc((100% - 30px) / 2);

  &:first-child {
    background: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
  }
  &:last-child {
    background: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
  }
}
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &::before {
    content: " ";
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    order: 0;
  }
}
.service-text,
.service-price {
  color: var(--text-dark);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.36px;
}
.service-text:first-child {
  order: -1;
}
.service-price {
  order: 1;
}
.service-btn {
  width: 160px;
  margin: 0 auto;
  margin-top: 44px;
}
