.btn {
  min-width: 160px;
  height: 40px;

  background-color: transparent;
  border-radius: 25px;
  border: 1px solid var(--hover);
  color: var(--title-dark);
  cursor: pointer;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  font-style: normal;

  transition: background-color 250ms var(--animation),
    border-color 250ms var(--animation);

  &:hover,
  &:focus {
    background-color: var(--hover);
    border-color: transparent;
  }
}
.btn-link {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 15px;
}
.title {
  color: var(--title-light);
  font-size: 42px;
  font-family: var(--secondary-family-text);
  font-weight: 700;
  letter-spacing: 2.1px;
}
.suptitle {
  display: flex;
  align-items: center;
  gap: 20px;

  color: var(--title-light);
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;

  &::before {
    margin-right: 20px;
    content: " ";
    height: 1px;
    width: 60px;
    background-color: currentColor;
  }
}
.soc-item {
  color: var(--title-light);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;

  transition: color 250ms var(--animation);

  &:hover,
  &:focus {
    color: var(--hover);
  }
  &::before {
    content: " ";
    height: 1px;
    width: 60px;
    background-color: var(--title-light);
  }
}
