:root {
  --main-bg: #ffffff;
  --second-bg: #f7f7f7;
  --cover-bg: #191c26;
  --cover-bg-service: #111319;
  --hover: #ff6c00;
  --title-light: #303030;
  --title-dark: #ffffff;
  --sub-title: #555555;
  --up-title: #9da4bd;
  --text-dark: #9da4bd;
  --second-color-text: #ff6c00;
  --backdrop: rgba(25, 28, 38, 0.7);
  --secondary-family-text: "Raleway";
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}
